.hii{
    display: flex;
    flex-direction: row;
    border: 0.2px solid red;
    height: 570px;
    background-image: url('https://wallpaperaccess.com/full/2413551.jpg');
    size:cover;
    background-repeat:no-repeat;  

}

.a{
    
   border: 1px solid red;
   border-radius: 20px;
   width: 40%;
   margin-top:90px ;
   margin-left: 140px;
   margin-bottom: 20px;
   text-align: center;

   


}
.f{
  
    color: white;
}
.b{
    background-color: palegoldenrod;
    color: black;
    border: 1px solid red;
    border-radius: 8px;
}

.c{
  
    border: 1px solid red;
    border-radius: 20px;
    padding-top: 5px;
    width: 40%;
    margin-top:90px ;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h2{
    color: white;
    font-family: 'Lucida Console', monospace;
    text-decoration: underline;
    text-decoration-color: red;
}
.d{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.e{
      margin:20px 10px 10px 30px;
}


@media only screen and (min-width: 320px) and (max-width: 767px){

    .hii{
        flex-direction:column;
        height: 1175px;
    
    }


    .a{
        width: 90%;
        margin-top:50px ;
        margin-left: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-align: center;
     }


     .c{
  
        border: 1px solid red;
        width: 90%;
        margin-top:30px ;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .d{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
 .e{
    margin: 0px;
 }




}

