<div class="j">





            <!-- for scrolling text -->
            <div class="maq">
              <marquee >
                <br>
          Write a review to avail  a coupon worth $50. . . .! ! ! !    ASAP
          </marquee></div>


            <!-- for motto -->
        <div class="motto">
          <h1 class="aa">Our   Motto</h1>
          <h3 class="mc">To find and extract the boundless potential in all that we
      do—just as we have for every cup of coffee.</h3>
      </div>

       <!-- for gallery -->
       <div class="pp">
       <h1>Gallery</h1><br><br>
       <div class="gal" id="gallery">
        
                <img src="../../../assets/image/gallery1.jpg" class="a"/>
                <img class="a" src="https://images.wallpaperscraft.com/image/coffee_machine_coffee_cup_162009_300x188.jpg" alt="hi">
                <img src="../../../assets/image/gallery2.jpg" class="a"/>
                <img class="a" src="https://images.wallpaperscraft.com/image/cups_cappuccino_table_168385_1280x720.jpg" alt="">
                <img src="../../../assets/image/gallery3.jpg" class="a"/>
                <img src="../../../assets/image/gallery4.jpg" class="a"/>
                <img class="a" src="https://images.wallpaperscraft.com/image/desk_restaurant_wine_glasses_plates_flowers_roses_80713_300x168.jpg" alt="">
                <img src="../../../assets/image/gallery8.jpg"class="a"/>
                <img src="../../../assets/image/gallery5.jpg" class="a"/>
                <img class="a" src="https://images.wallpaperscraft.com/image/cups_tea_drink_tea_115303_300x188.jpg" alt="">
                <img class="a" src="https://images.wallpaperscraft.com/image/cupcake_cream_dessert_160640_300x188.jpg" alt="">
                <img src="../../../assets/image/gallery7.jpeg"class="a"/>
                <img src="../../../assets/image/gallery6.jpg" class="a"/>
                <img src="../../../assets/image/gallery9.jpg" class="a"/>
        </div>
       </div>


               <!-- for about us -->
               <div  class="abt" id="aboutus">
                <h1>About us</h1>
                <h3 class="ata">Want to gain a competitive advantage over other brands in the coffee industry? Well, you should know that a good website is a powerful marketing tool to effectively build online credibility. If you’re looking for inspiration, this ultimate collection of coffee shop websites are a great resource to look into.
                Coffee shops can be a great place to spend with.
                Check these coffee shop websites and make your day shine proficiently!</h3>
                </div>
            
                
                 
              <!-- creating footer -->
             <br> <footer class="footer">
              <h1 class="he">Contact Us</h1>
              <p class="ft">
                Mobile Number:+91 9492110576 <br><br>      gmail:coffeelove@gmail.com
              </p>
             
             </footer>
              
           </div>




















        











         
      
        
        
      
        
        
        
        
       
        
      

