<div class="hii">
    <br>
    <mat-card class="a1">


        <section class="mat-typography" style="color:black;">
            <h3 class="login"style="text-align: center;"><b><i>Login Here</i></b></h3>
        </section>

        
        <mat-divider></mat-divider>
        <br>


        <form [formGroup]="createForm" class="create-form" >

            <mat-form-field class="field-full-width">
                <input class="a2" matInput placeholder="E-mail" formControlName="email"#email class="email">
                </mat-form-field>


                <br><br>
                <mat-form-field class="field-full-width">
                    <input class="a2" matInput placeholder="Password"  class="password"type="password" [type]="hide ? 'password': 'text'"formControlName="password"#password>
                    </mat-form-field>


                    <mat-divider></mat-divider>
                    <br><br>
                    <button class="a3" mat-raised-button  routerLink="/signup">Sign Up</button>&nbsp;
                    <button class="a3" type="submit"(click)="login(email.value,password.value)"[disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Login</button>
        </form>
    </mat-card>
    </div>


    