/* You can a




dd global styles to this file, and also import other style files */

html, body { height: 100%; }
     body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
     }
    /*    background-image: url('https://wallpaperaccess.com/full/2413551.jpg');size:cover;
    opacity: 5.0;height: 800px;background-size: 3500px; 
background-repeat:no-repeat;   */